.topnav {
    background-color: #333;
    overflow: hidden;
    border: none;
    height: 5px;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 11px;
    text-decoration: none;
    font-size: 13px;
    border: none;
    

}

.results{

font-family: Roboto;
font-size: 16px:
color: black;
}




/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ff4d4d;
    color: black;
    border: none;
   }


/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
    border: none;    
}

/* Animación de barra */
.navbar {
    -webkit-animation-duration: 90s;
    animation-duration: 90s;
    animation-iteration-count: infinite;
  
}



.tablex{
	display: table;
	text-align: center;
	padding:5px;
	width: 65%;
	background-color: #ff8d8d;
	border: none;
	height: 20px;
	font-size: 16px;
	text-align: left;
  font-family: "Helvetica";

}

  body {
      font-size: 15px;
      color: #343d44;
      font-family: "segoe-ui", "open-sans", tahoma, arial;
      padding: 0;
      margin: 0;
    }
    table {
      margin: auto;
      font-family: "Helvetica";
      font-size: 14px;
      font-style: bold;
    }

    h1 {
      margin: 25px auto 0;
      text-align: center;
     
      font-size: 17px;
    }

    table td {
      transition: all .5s;
      font-size: 14px;
    }
    
    /* Table */
    .data-table {
      border-collapse: collapse;
      font-size: 14px;
      min-width: 537px;
      font: black;
    }







    .data-table th, 
    .data-table td {
      border: 1px solid #e1edff;
      padding: 7px 17px;
    }
    .data-table caption {
      margin: 7px;
    }

    /* Table Header */
    .data-table thead th {
      background-color: #ff8d8d;
      color: #ff8d8d;
      border-style: none;
      color: white;
      
    }

    /* Table Body */
    .data-table tbody td {
      color: #ff8d8d;
    }
    .data-table tbody td:first-child,
    .data-table tbody td:nth-child(4),
    .data-table tbody td:last-child {
      text-align: right;
    }

    .data-table tbody tr:nth-child(odd) td {
      background-color: #ff8d8d;
    }
    .data-table tbody tr:hover td {
      background-color: #ff8d8d;
      border-color: #ff8d8d;
    }

    /* Table Footer */
    .data-table tfoot th {
      background-color: #ff8d8d;
      text-align: right;
    }
    .data-table tfoot th:first-child {
      text-align: left;
    }
    .data-table tbody td:empty
    {
      background-color: #ff8d8d;
    }
   .bort{
    border-style: solid;
    border-width: 1px;
    border-color: black;
   }
    body{
        font-family: Arail, sans-serif;
    }
    /* Formatting search box */
    .search-box{
        width: 300px;
        position: relative;
        display: inline-block;
        font-size: 14px;
    }
    .search-box input[type="text"]{
        height: 32px;
        padding: 5px 10px;
        border: 1px solid #CCCCCC;
        font-size: 14px;
    }
    .result{
        position: absolute;        
        z-index: 999;
        top: 100%;
        left: 0;
    }
    .search-box input[type="text"], .result{
        width: 100%;
        box-sizing: border-box;
    }
    /* Formatting result items */
    .result p{
        margin: 0;
        padding: 7px 10px;
        border: 1px solid #CCCCCC;
        border-top: none;
        cursor: pointer;
    }
    .result p:hover{
        background: #f2f2f2;
    }

